


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-slider-container {
  position: relative;
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.range-input {
  position: absolute;
  width: 100%;
  pointer-events: none;
  appearance: none;
  background: none;
  outline: none;
  z-index: 2;
}


.range-input::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000000;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.range-input:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

.range-input::-moz-range-thumb {
  pointer-events: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000000;
  border: 4px solid #ffffff;
  cursor: pointer;
}

aside::-webkit-scrollbar {
  width: 5px;
}

aside::-webkit-scrollbar-track {
  background: transparent;
}

aside::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


aside {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}
